<template>
  <aside class="stars">
    <i
      v-for="star in stars"
      :key="star.id"
      class="fas fa-star hostingMainCardGradeIcon"
      data-active="true"
    ></i>
    <i
      v-for="star in displayEmptyStars()"
      :key="star.id"
      class="fas fa-star hostingMainCardGradeIcon"
      data-active="false"
    ></i>
  </aside>
</template>

<script>
export default {
  name: "DisplayStars",
  props: ["stars"],

  data: function () {
    return {
      starsFull: 5,
    };
  },
  methods: {
    displayEmptyStars() {
      return this.starsFull - this.stars;
    },
  },
};
</script>

<style>
</style>