<template>
  <div class="homepage">
    <div id="title">
      <h2>Accueil Administration</h2>
    </div>
    <div class="dashboard">
      <img
        :src="require('@/assets/dashboard.png')"
        alt="Image bleue"
      />
    </div>
  </div>
</template>

<script>

export default {
  name: "Homepage",
  components: {
  },

  methods: {
   
  },

  computed: {
   
    },
};
</script>

<style scoped>
h1 {
  font-size: 2, 4rem;
}

h3 {
  font-size: 1, 6rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0, 8rem;
  font-weight: normal;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 0, 8rem;
  font-weight: normal;
}
.homepage {
  width: 90%;
  margin:auto;
}
#title h2{
  width: 100%;
  text-align: center;
}
.dashboard {
  width: 100%;
  margin-top: 100px;

}
img {
  width: 100%;
}



</style>