<template>
  <header>
    <nav class="navbar">
      <div class="iconMachineStock"></div>
      <ul class="menu">
         
        <router-link :to="{name: 'homepage'}" active-class="router-link-active">Accueil</router-link>
        <router-link :to="{name: 'allCommands'}" active-class="router-link-active">Toutes les commandes</router-link>
        <router-link :to="{name: 'products'}" active-class="router-link-active">Liste produits</router-link>
        <router-link :to="{name: 'createProduct'}" active-class="router-link-active">Creation d'un produit</router-link>
        <router-link :to="{name: 'listUsers'}" active-class="router-link-active">Liste des utilisateurs</router-link>

      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  name: "navbar",
};
</script>

<style>

.router-link-active {
  font-style: italic;
}
.navbar {
    position:fixed;
    display:flex;

    flex-direction: column;
    top:0;
    width:15%;
    height: 100%;
 
    height: 100vh;
    background: linear-gradient(black,#014558);
    opacity: 0.7;
}

.iconMachineStock {
    background-image: url('~@/assets/logos/IT-logo-8670EB0250-seeklogo.com.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
   
    margin:0;
    padding:0px;
    width: 100px;
    height: 100px;
    border:0px;
}


.menu {
    display:flex;
    flex-direction: column;
  
    align-items: left;
    list-style-type:none;
    height:100%;
    color:#76A5EC;
    font-weight: bold;

}
.menu li, a {
    margin-right:1.5em;
    margin-bottom: 15%;
    color:white;
    text-decoration: none;
}


</style>