<template>
  <div class="product-creation">
    <h2 id="title">Création d'un produit</h2>
    <form
      action="../../api/order/"
      id="command-form"
      method="post"
      onsubmit="submitForm(event, this)"
    >
      <p>
        <i>Complétez le formulaire. Les champs marqué par </i><em>*</em> sont
        <em>obligatoires</em>
      </p>
      <fieldset>
        <legend>Création d'un nouveau produit</legend>

        <label for="Modèle">Modèle <em>*</em></label>
        <input
          id="modèle"
          name="formModel"
          placeholder="Entrez le modèle du produit (ex:HP)"
          autofocus=""
          required=""
        /><br />
        <div id="reference"></div>
        <label for="reference">Référence</label>
        <input
          id="reference"
          name="formRéférence"
          placeholder="ex: 06xxxxxxxxxxx"
          pattern="06[0-9]{13}"
        /><br />
        <label for="Présentation">Présentation <em>*</em></label>
        <input
          id="présentation"
          name="formPrésentation"
          placeholder="Présentez le produit"
          autofocus=""
          required=""
        /><br />
        <label for="price">Prix </label>
        <input
          id="price"
          name="formPrice"
          placeholder="Entrez le prix en euros €"
        /><br />

        <label for="type">Type de produit <em>*</em></label>
        <input
          id="type"
          name="formType"
          placeholder="Ex: desktop, Laptop, Pad, Smartphone"
          required=""
        /><br />
        <label for="description">Description <em>*</em></label>
        <input
          id="description"
          name="formDescription"
          placeholder="Description du produit"
          required=""
        /><br />
        <label for="image">Postez une photo du produit <em>*</em></label>
        <input
          id="image"
          name="formImage"
          type="image"
          placeholder="Postez l'image"
          required=""
        /><br />
      </fieldset>
      <p><input id="submit-produit" type="submit" value="Créer" /></p>
    </form>
  </div>
</template>

<script>
export default {
  name: "createProduct",
};
</script>

<style scoped>
table {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
.descriptif {
  margin-top: 10px;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}
.descriptif h2 {
  align-self: flex-start;
}
.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */
  width: 80%;
  height: auto;

  margin: 10px 0 10px 0;
  padding: 5px;
}
.descriptif article header {
  width: 50%;
}
.descriptif article .photoArticle {
  display: inline-block;
  position: relative;
  left: 90%;
  object-fit: cover;
  width: 50%;
  height: 100%;
  border-radius: 25% 0 0 25%;
}
.descriptif article header h3 {
  width: 100%;
  height: 10px;
}
.descriptif .infos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.quantity {
  height: 20px;
  width: auto;
}
.description {
  width: 200px;
  text-align: left;
}
.quantity input {
  align-items: center;
  width: 10px;
}

.description .infos .quantity {
  display: flex;
}
table {
  text-align: center;
}
.line {
  height: 2px;
  color: rgb(223, 23, 23);
}
@media screen and (max-width: 900px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  table {
    width: 100%;
    font-size: 0.6em;
  }
}

form {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
p {
  margin-top: 0px;
}

fieldset {
  margin-bottom: 15px;
  padding: 10px;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}

input:focus {
  background: #eaeaea;
}

input,
textarea {
  width: 249px;
}

textarea {
  height: 100px;
}

select {
  width: 254px;
}

input[type="checkbox"] {
  width: 10px;
}

input[type="submit"] {
  width: 150px;
  padding: 10px;
}
.hideForm {
  display: none;
}
.showForm {
  display: true;
}
</style>