<template>
  <div class="product-sheet">
    <h2 id="title">Fiche descriptive</h2>
    <div id="generated-products" v-for="product in products" :key="product.id">
      <div v-if="product.id == selectedProduct">
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="require('@/assets/computers/images (2).jpg')"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
              <h4>{{ product.model }}</h4>
              <h5>
                Présentation: Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Quis consequuntur, soluta aperiam nihil natus
                facilis itaque quidem ipsum, eum iure neque cumque veritatis
                sint necessitatibus facere fugit hic nesciunt placeat.
              </h5>

              <h4>{{ product.description }}</h4>
              <h5>
                Description: Lorem ipsum, dolor sit amet consectetur adipisicing
                elit. Quis consequuntur, soluta aperiam nihil natus facilis
                itaque quidem ipsum, eum iure neque cumque veritatis sint
                necessitatibus facere fugit hic nesciunt placeat.
              </h5>

              <DisplayStars :stars="product.stars"></DisplayStars>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import DisplayStars from "./DisplayStars";
import { mapState } from "vuex";

export default {
  name: "ProductSheet",
  components: {
    DisplayStars,
  },
  computed: {
    ...mapState(["products"]),
  },

  data: function () {
    return {
      selectedProduct: this.$route.params.productId,
    };
  },
  component: app,
};
</script>

<style scoped>
.product-sheet {
  width:90%;
  margin:auto;
}
.descriptif {
  margin: 5vh auto 0px auto;
  width: 50%;

  justify-content: space-between;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif h2 {
  align-self: flex-start;
}

.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */
flex-direction: column;
  height: auto;
  width: 80%;
  margin: auto;

  padding: 5px;
}
img {
  width: 100%;
}
.descriptif article header {
  /* width:50%; */
}

.descriptif article .photoArticle {
  object-fit: cover;
  /* width: 100%;
    height: 100%; */
}
.descriptif article header h3 {
  /* width:100%;
    height: 10px; */
}
.descriptif .infos {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  
}

.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

.bottomLinks {
  margin-top: 10%;
}
.bottomLinks a {
  color: white;
}

@media screen and (max-width: 1200px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
</style>