<template>
  <div class="product-modification">
    <h2 id="title">Modification d'un produit</h2>
    <div id="generated-products" v-for="product in products" :key="product.id">
      <div v-if="product.id == selectedProduct">
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="require('@/assets/computers/images (2).jpg')"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
              <form
                action="../../api/order/"
                id="command-form"
                method="post"
                onsubmit="submitForm(event, this)">
                <p>
                  <i>Complétez le formulaire. Les champs marqué par </i
                  ><em>*</em> sont <em>obligatoires</em>
                </p>
                <fieldset>
                  <legend>Modification d'un produit</legend>

                  <label for="Modèle">Modèle <em>*</em></label>
                  <input
                    id="modèle"
                    name="formModel"
                    placeholder="Entrez le modèle du produit (ex:HP)"
                    autofocus=""
                    required=""
                    :value="product.model"
                  /><br />
                  <div id="reference"></div>
                  <label for="reference">Référence</label>
                  <input
                    id="reference"
                    name="formRéférence"
                    :value="product.reference"
                    pattern="06[0-9]{13}"
                  /><br />
                  <label for="Présentation">Description <em>*</em></label>
                  <input
                    id="présentation"
                    name="formPrésentation"
                    :value="product.details"
                    autofocus=""
                    required=""
                  /><br />
                  <label for="price">Prix (€) </label>
                  <input
                    id="price"
                    name="formPrice"
                    :value="product.price"
                  /><br />

                  <label for="type">Type de produit <em>*</em></label>
                  <input
                    id="type"
                    name="formType"
                    :value="product.description"
                    required=""
                  /><br />
                  <label for="image"
                    >Modifier la photo du produit <em>*</em></label
                  >
                  <input
                    id="image"
                    name="formImage"
                    type="image"
                    placeholder="Postez l'image"
                    required=""
                  /><br />
                </fieldset>
                <p>
                  <input id="submit-produit" type="submit" value="Modifier" />
                </p>
              </form>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import { mapState } from "vuex";

export default {
  name: "ProductModify",
  components: {},
  computed: {
    ...mapState(["products"]),
  },

  data: function () {
    return {
      selectedProduct: this.$route.params.productId,
    };
  },
  component: app,
};
</script>

<style scoped>
.product-modification {
  width: 90%;
  margin: auto;
}
.descriptif {
  margin: 5vh auto 0px auto;
  width: 50%;

  justify-content: space-between;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif h2 {
  align-self: flex-start;
}

.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */
flex-direction: column;
  height: auto;
  width: 80%;
  margin: auto;

  padding: 5px;
}
.descriptif article header {
  /* width:50%; */
}

.descriptif article .photoArticle {
  object-fit: cover;
  width: 100%;
    height: 100%;
}
img {
  width: 100%;
    height: 100%;
}
.descriptif article header h3 {
  /* width:100%;
    height: 10px; */
}
.descriptif .infos {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-left: 40px;
}

.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

.bottomLinks {
  margin-top: 10%;
}
.bottomLinks a {
  color: white;
}

@media screen and (max-width: 1200px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
</style>