<template>
  <div class="products">
    <div class="title"><h3>Liste des Produits</h3></div>
    <div class="add-product" @click="addProduct()">
      <router-link
        :to="{
          name: 'createProduct',
        }"
      >
        <h3>Ajouter un produit <i class="far fa-plus-circle"></i></h3>
      </router-link>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nom produit</th>
          <th>Model</th>
          <th>Modifier</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody
        id="generated-products"
        v-for="product in products"
        :key="product.id"
      >
        <tr class="product">
          <td><img src="" /></td>
          <td>{{ product.model }}</td>
          <td>{{ product.description }}</td>

          <td>
            <router-link
              :to="{
                name: 'productModify',
                params: { productId: product.id },
              }"
            >
              <i class="far fa-edit"></i>
            </router-link>
          </td>
          <td>
            <router-link
              :to="{
                name: 'productSheet',
                params: { productId: product.id },
              }"
            >
              <i class="far fa-eye"></i>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="upButton">
      <a href="#" alt="revenir au titre" title="revenir en haut de page">
        <i class="far fa-arrow-alt-circle-up fa-3x"></i>
      </a>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import { mapState } from "vuex";

export default {
  name: "Products",
  component: app,
  computed: {
    ...mapState(["products"]),
  },
  methods: {},
};
</script>

<style scoped>
.products {
  width: 70%;
  margin: auto;
}
.add-product {
  margin-bottom: 50px;
}
table {
  width: 100%;
}
.user {
  margin-top: 10px;
}
th {
  text-align: left;
  border-bottom: 2px solid white;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
</style>