<template>
  <div class="product-sheet">
    <h2 id="title">Fiche descriptive</h2>
    <div id="generated-products" v-for="user in users" :key="user.id">
      <div v-if="user.id == selectedUser">
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="require('@/assets/userLogos/images (2).jpg')"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
                
            <h4>Rôle: {{ user.role }}</h4>
              <h5>Prénom: {{ user.firstname }}</h5>
              <h5> Nom: {{ user.lastname }}</h5>

              <h5>Pseudo: {{ user.pseudo }}</h5>
            <h5>Adresse: {{ user.adress }}</h5>
            <h5>Ville: {{ user.city }}</h5>
            <h5>Téléphone: {{ user.phone_number }}</h5>
            <h5>Adresse: {{ user.adress }}</h5>

          
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";

import { mapState } from "vuex";

export default {
  name: "UserSheet",
  components: {
   
  },
  computed: {
    ...mapState(["users"]),
  },

  data: function () {
    return {
      selectedUser: this.$route.params.userId,
    };
  },
  component: app,
};
</script>

<style scoped>
.product-sheet {
  width:90%;
  margin:auto;
}
.descriptif {
  margin: 5vh auto 0px auto;
  width: 50%;

  justify-content: space-between;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif h2 {
  align-self: flex-start;
}

.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */

  height: auto;
  width: 80%;
  margin: auto;

  padding: 5px;
}
.descriptif article header {
  /* width:50%; */
}

.descriptif article .photoArticle {
  object-fit: cover;
  /* width: 100%;
    height: 100%; */
}
.descriptif article header h3 {
  /* width:100%;
    height: 10px; */
}
.descriptif .infos {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-left: 40px;
}

.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

.bottomLinks {
  margin-top: 10%;
}
.bottomLinks a {
  color: white;
}

@media screen and (max-width: 1200px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
</style>