<template>
  <div class="users">
    <div class="title"><h3>Liste des utilisateurs</h3></div>
    <div class="add-product" @click="addUser()">
      <router-link
        :to="{
          name: 'userCreation',
        }"
      >
        <h3>Ajouter un utilisateur <i class="far fa-plus-circle"></i></h3>
      </router-link>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Rôle</th>
          <th>Modifier</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody id="generated-products" v-for="user in users" :key="user.id">
        <tr class="user">
          <td><img src="" /></td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.role }}</td>
          <td>
            <router-link
              :to="{
                name: 'userEdit',
                params: { userId: user.id },
              }"
            >
              <i class="far fa-edit"></i>
            </router-link>
          </td>
          <td>
            <router-link
              :to="{
                name: 'userSheet',
                params: { userId: user.id },
              }"
            >
              <i class="far fa-eye"></i>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="upButton">
      <a href="#" alt="revenir au titre" title="revenir en haut de page">
        <i class="far fa-arrow-alt-circle-up fa-3x"></i>
      </a>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";
import { mapState } from "vuex";

export default {
  name: "ListUsers",
  component: app,
  computed: {
    ...mapState(["users"]),
  },
  beforeCreate: function () {
    if(this.$store.state.users.length===0) {
      this.$store.dispatch("setUsersToStore")
    }
  },
  methods: {
    userSelect(userId) {
      this.$router.push({
        name: "userSheet",
        params: { userId: userId },
      });
    },
    userSelectModify(userId) {
      this.$router.push({
        name: "userModify",
        params: { userId: userId },
      });
    },
    addUser() {
      this.$router.push({
        name: "createUser",
      });
    },
  },
};
</script>

<style scoped>
.users {
  width: 70%;
  margin: auto;
}
.add-product {
  margin-bottom: 50px;
}
table {
  width: 100%;
}
.user {
  margin-top: 10px;
}
th {
  text-align: left;
  border-bottom: 2px solid white;
}
.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
</style>