<template>
  <div class="user-sheet">
    <h2 id="title">Modification Utilisateur</h2>
    <div id="generated-products" v-for="user in users" :key="user.id">
      <div v-if="user.id == selectedUser">
        <section class="descriptif">
          <article>
            <header>
              <nav>
                <img
                  class="photoArticle"
                  :src="require('@/assets/userLogos/images (2).jpg')"
                  alt=""
                />
              </nav>
            </header>
            <div class="infos">
              <h5>
                Prénom:
                <span>
                  <input
                    id="firstname"
                    name="formFirstname"
                    :value="user.firstname"
                /></span>
              </h5>
              <h5>
                Nom:
                <span>
                  <input id="name" name="formName" :value="user.lastname"
                /></span>
              </h5>
              <h5>
                Pseudo:
                <span>
                  <input id="pseudo" name="formPseudo" :value="user.pseudo"
                /></span>
              </h5>
              <h5>
                Adress:
                <span>
                  <input id="adress" name="formAdress" :value="user.adress"
                /></span>
              </h5>
              <h5>
                Ville:
                <span>
                  <input id="city" name="formCity" :value="user.city"
                /></span>
              </h5>
              <h5>
                Téléphone:
                <span>
                  <input id="phone" name="formPhone" :value="user.phone_number"
                /></span>
              </h5>
              <h4>
                Rôle:
                <span>
                  <input id="role" name="formRole" :value="user.role"
                /></span>
              </h4>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
import app from "../App.vue";

import { mapState } from "vuex";

export default {
  name: "userModify",
  components: {},
  computed: {
    ...mapState(["users"]),
  },

  data: function () {
    return {
      selectedUser: this.$route.params.userId,
    };
  },
  component: app,
};
</script>

<style scoped>
.user-sheet {
  width: 90%;
  margin: auto;
}
.descriptif {
  margin: 5vh auto 0px auto;
  width: 50%;

  justify-content: space-between;
}
.descriptif article h4 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif article h5 {
  margin-top: 3px;
  padding-left: 5px;
}

.descriptif h2 {
  align-self: flex-start;
}

.descriptif article {
  display: flex;
  /* flex-wrap: wrap; */

  height: auto;
  width: 80%;
  margin: auto;

  padding: 5px;
}
.descriptif article header {
  /* width:50%; */
}

.descriptif article .photoArticle {
  object-fit: cover;
  /* width: 100%;
    height: 100%; */
}
.descriptif article header h3 {
  /* width:100%;
    height: 10px; */
}
.descriptif .infos {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-left: 40px;
}

.descriptif .infos .stars {
  align-self: flex-start;
}

.stars .hostingMainCardGradeIcon[data-active="true"] {
  color: #0065fc;
}
.stars .hostingMainCardGradeIcon[data-active="false"] {
  color: #d2d4d6;
}

.bottomLinks {
  margin-top: 10%;
}
.bottomLinks a {
  color: white;
}

@media screen and (max-width: 1200px) {
  article {
    flex-direction: column;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .descriptif .infos {
    padding-left: 0px;
  }
}
</style>