<template>

    <div id="app">
        <navbar>
        </navbar>
    <div class="container">
    <router-view />
    </div>
  </div>
</template>
<script>
import navbar from './components/Nav.vue'

export default {
    name: "app",
    components: {
        navbar
    },
    data: function () {
    return {

    };
  },
}
</script>

<style>
body {
    font-family: "Raleway", "Sans serif";
    
    margin: 0;
    background: url('~@/assets/background/smooth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
article {
  width: 30%;
  height: 90%;

  background-color: white;
  padding: 3px;
  margin-top: 25px;
  box-shadow: 0 0 1em #acabab;

  color: black;
}


.bottomLinks {
    display:flex;
    justify-content: space-around;
   
}
#title {
    text-align: center;
    
}
.container {
    min-height: calc(100vh - 10vh - 5vh + 100px);
    margin-top:10vh;
    padding-top: 20px;
    width: 85%;
    margin-right: 0;
    margin-left: 15%;
}

.bottomLinks li {
    list-style-type: none;
}

.credits {
    width: 100%;
    height: 5vh;
    margin:0;
    background: url('~@/assets/background/smooth.jpg');
    text-align: right;
}
.credits p {
    margin:0;
}

.upButton {

    position: fixed;
    padding:0;
    top:90vh;
    left:250px;
}

.upButton a{
   
    color:white;
}
</style>
